<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP App | Login Page</title>
</head>
<body>
<h1>NLP App | Login Page </h1>
<!-- Below is the Jinja Template in Flask -->
{% if message %}
 <p style="color:green">{{message}}</p>
{%endif%}
<h3>Login here</h3>
<form action="/perform_login" method="post">
    <label>Email</label>
    <input type="email" name="user_ka_email"> <br>
    <label>Password</label>
    <input type="password" name="user_ka_password"><br>
    <input type="submit" value="Login">
    

</form>
<p>Not a member ? <a href="/register">Register here</a> </p>
</body>
</html>